{% extends "base.html" %}

{% block title %}
Internal server error
{% endblock %}

{% block content %}

<main class="content-wrapper">
    <header class="white-text-container section-container">
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="../static/assets/images/500.jpg" class="img-responsive img-server-error"
                     alt="500 - Internal Server Error">
            </div>
        </div>
    </div>
</main>

{% endblock %}