<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>
      {% block title %}
      {% endblock %}
  </title>

<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-bar-id">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}">Shubham Singh</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-bar-id">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#work-ex">Work</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skills-section">Skills</a></li>
                <li><a href="#competitive-coding">Competitive Coding</a></li>
                <li><a href="#outside-work">Outside Work</a></li>
                <li><a href="#contact-section">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>

</html>